<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fa-solid fa-oil-well fa-6x"></i>
    <!-- <i class="fa-solid fa-hand-holding-droplet fa-6x"></i> -->
    <!-- <i class="fa-solid fa-fill-drip fa-6x"></i> -->
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <h1 class="display-3">Petrotech.co</h1>
    <p class="lead">Better Together.</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>