<%- include('partials/header') %>
    <div class="container centered">
        <i class="fa-solid fa-lock fa-6x"></i>
        <hr>
        <form action="" id="petro-validate">
            <div>
                <h3>First Enter Your Petrotech Users ID !</h3>
                <span id="Perror">PetroTeck</span>
                <input type="password" id='petrotech-id' placeholder="Petrotech ID" onsubmit="validatePetro()">
                <input type="button" id="pSubmit" value="Check" onclick="validatePetro()">
            </div>
        </form>
        
        <form action="/register" id="form" method="post" onsubmit="return validatePassword()" style="display: none;">
            <span id="error">Petrotech</span>
            <input type="text" placeholder="Username" name="username" required />
            <input type="password" id="pass" placeholder="Password" name="password" required />
            <input type="password" id="cPass" placeholder="Confirm Password" name="confirmPassword" required />
            <button class="btn btn-dark btn-lg" type="submit">Register</button>
        </form>


    </div>

    

    <%- include('partials/footer') %>