    <div id="preloader">
        <!-- <i class="fa-solid fa-gear fa-spin fa-6x"></i>
        <i class="fa-solid fa-gear fa-spin fa-spin-reverse fa-4x"></i>
        <i class="fa-solid fa-gear fa-spin fa-spin-reverse fa-3x"></i> -->
    </div>
    <script src="../js/index.js"></script>
</body>
</html>